<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Notifier.Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles",required:false)
</head>
<body>
    <div class="notifier-container">
        @RenderBody()
        <footer>
            <div class="notifier-footer">
                <a href="~/account/logout">注销</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script async src="http://localhost:5126/js/chat.js"></script>
    <script type="text/javascript">
        window.NTF = window.NTF || { }
        $(function(){
            $(".message-list").niceScroll({
              cursorcolor:"#234bb8",
              cursorborder:"none",
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>