@page
@model Notifier.Frontend.Pages.Account.LoginModel
@{
    ViewData["Title"] = "用户登录";
}
<div class="flex-container chatbox-wrap login-container">
    <div class="flex-item">
        <div class="column-main">
            <div class="login-box">
                <div class="login-header">
                    <div class="text-center">
                        <h1>实时消息推送系统</h1>
                        <i class="fas fa-user-circle login-user-avatar"></i>
                    </div>
                </div>
                <div class="login-form-box">
                    <form method="post">
                        <div class="form-group">
                            <input class="form-control form-control" type="text" placeholder="请输入登录名" name="Username" />
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control" type="password" placeholder="请输入登录密码" name="Password">
                        </div>
                        <div class="form-group login-actions">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-lock"></i> 登 录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>