@page
@model Notifier.Frontend.Pages.Account.LoginModel
@{
    ViewData["Title"] = "用户登录";
}
<div class="flex-container chatbox-wrap login-container">
    <div class="flex-item">
        <div class="column-main">
            <div class="login-box">
                <div class="login-header">
                    <div class="text-center">
                        <h1>实时消息推送系统</h1>
                        <i class="fas fa-user-circle login-user-avatar"></i>
                    </div>
                </div>
                <div class="login-form-box">
                    <form id="form_login" method="post">
                        <div class="form-group">
                            <input id="username" class="form-control form-control" type="text" placeholder="请输入登录名" name="Username" />
                        </div>
                        <div class="form-group">
                            <input id="password" class="form-control form-control" type="password" placeholder="请输入登录密码" name="Password">
                        </div>
                        <div class="form-group login-actions">
                            <div class="d-grid gap-2">
                                <button id="btn_login" type="button" class="btn btn-primary"><i class="fas fa-lock"></i> 登 录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    $(function(){
        $("#btn_login").click(function(){
            toastr.remove();
            if(!$("#username").val()){
                toastr.warning("请输入登录名");
                return;
            }
            $("#form_login")[0].submit();
        });
    });
</script>
}