@page
@model Notifier.Frontend.Pages.Account.LoginModel
@{
    ViewData["Title"] = "用户登录";
}
<div class="flex-container chatbox-wrap">
    <div class="flex-item">
        <div class="chatbox-box">
            <div class="chat-column column-main">
                <div class="message-box">
                    <h1>用户登录</h1>

                </div>
            </div>
        </div>
    </div>
</div>