@page
@model Notifier.Frontend.Pages.ChatModel
@{
    ViewData["Title"] = "聊天室";
    Layout = "_LayoutNotifier";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}
<div class="flex-container chatbox-wrap">
    <div class="flex-item">
        <div class="chatbox-box">
            <div class="chat-column column-user-list">
                <div>
                    <h1>Notifier</h1>
                    <ul class="chat-user-list"></ul>
                </div>

            </div>
            <div class="chat-column column-main">
                <div class="message-box">
                    <div class="message-list-box">
                        <ul class="message-list">
                        </ul>
                    </div>
                    <div class="message-input-box input-group">
                        <input id="newMessage" placeholder="输入消息..." type="text" class="form-control shadow-none chat-input-message">
                        <div class="input-group-append">
                            <a id="btnSend" class="btn btn-primary btn-send-chat">发 送</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    window.NTF.uid = "@(HttpContext.User.Identity.Name)";
</script>
}