@page
@model IndexModel
@{
    ViewData["Title"] = "聊天室";
}
@section Styles{
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
}
<div class="flex-container chatbox-wrap">
    <div class="flex-item">
        <div class="chatbox-box">
            <div style="padding:10px;">
                <p>Notifier--实时消息推送系统</p>
                <p><a href="~/account/login">登 录</a></p>
            </div>
        </div>
    </div>
</div>