.chatbox-wrap h1 { font-size: 22px; padding: 10px 10px 0 }

.column-user-list { width: 220px; min-width: 200px; }
    .column-user-list ul { list-style: none; margin: 0; padding: 0 }
    .column-user-list li { list-style: none; margin: 0; padding: 10px; box-shadow: rgba(33,35,38,.1) 0 10px 10px -10px; border-radius: 3px }
        .column-user-list li:hover { background-color: #234bb8; cursor: pointer }
        .column-user-list li h2 { font-size: 13px }
.user-avatar { border-radius: 50% }
.user-info { display: inline-block; vertical-align: top; margin-top: 12px }
    .user-info h3 { font-size: 12px; color: #6a6bc2 }
.message-box { display: flex; flex-direction: column; align-items: stretch; height: 100%; padding: 5px 0; }
.message-list-box { flex: 1; border-radius: 5px; }
.message-list { list-style: none; margin: 0 0; padding: 0; overflow-y: auto; height: 545px; }
.message-time, .message-user-avatar { color: #6a6bc2; font-size: 13px; display: inline-block }
.message-input-box { margin-bottom: 0 }
.message-list li { margin-top: 10px; padding: 0px }
    .message-list li .message-body { color: #c3d2fa; display: inline-block; background-color: rgba(255,255,255,.1); border-radius: 5px; font-size: 14px; margin-top: 0; margin-bottom: 10px; padding: 10px 15px; }
.message-body::after { content: ""; position: absolute; margin: -1.5em 1.87em; width: 0; height: 0; border-color: transparent transparent #58b666 transparent; border-width: 0 10px 10px 10px; }
.message-list li.me { text-align: right }
.message-list li:first-child { margin-top: 0 }
.message-item { display: flex; }
    .message-item.me { flex-direction: row-reverse; }
.user-small-avatar { border-radius: 50%; width: 36px; height: 36px; margin: 0; margin-right: 5px; }
.message-item.me .user-small-avatar { margin-left: 5px; }
.btn-send-chat { font-size: 15px; border-radius: 0 3px 3px 0; }
.chat-input-message { font-size: 14px; color: #6a6bc2; background-color: #0C40BB; resize: none; border: none; border-radius: 3px 0 0 3px; box-shadow: none !important; }
    .chat-input-message:active, .chat-input-message:focus { background-color: #234bb8; color: #c3d2fa; outline: none; }
    .chat-input-message::placeholder { color: rgb(80, 101, 194) }
.message-input-box .input-group-append { margin-left: 0 !important; }
