* { box-sizing: border-box; margin: 0; padding: 0; font-family: Nunito,sans-serif }
body, html { margin: 0; padding: 0; height: 100% }
body { height: 100vh }
body { background: linear-gradient(135deg,#1115e4,#1f4ece,#1220e2); background-size: 600% 600%; -webkit-animation: AnimationName 22s ease infinite; -moz-animation: AnimationName 22s ease infinite; animation: AnimationName 22s ease infinite; background: linear-gradient(132deg, rgba(38,52,246,1) 0%, rgba(12,2,194,1) 38%, rgba(14,78,194,1) 64%, rgba(90,20,240,1) 100%); }

@-webkit-keyframes AnimationName {
    0% { background-position: 94% 0 }
    50% { background-position: 7% 100% }
    100% { background-position: 94% 0 }
}

@-moz-keyframes AnimationName {
    0% { background-position: 94% 0 }
    50% { background-position: 7% 100% }
    100% { background-position: 94% 0 }
}

@keyframes AnimationName {
    0% { background-position: 94% 0 }
    50% { background-position: 7% 100% }
    100% { background-position: 94% 0 }
}

@keyframes gradient {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.chatbox-container { display: flex; justify-content: center; align-items: center; flex-direction: column }
.flex-container { height: 100%; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center }
.cell { width: auto }
.flex-item { border: 1px solid rgb(47, 107, 218); background: rgba(3, 29, 112, 0.5); border-radius: 10px; padding: 0; min-width: 800px; min-height: 600px; margin: 0; line-height: 20px; color: #fff; box-shadow: rgba(46, 107, 240, 0.4) 5px 5px,rgba(46, 107, 240, 0.3) 10px 10px,rgba(46, 107, 240,.2) 15px 15px,rgba(30, 114, 211, 0.1) 20px 20px,rgba(46, 107, 240,.05) 25px 25px; display: flex; max-width: 600px; }
.chatbox-box { display: flex; align-items: stretch; width: 100% }
.chatbox-wrap h1 { font-size: 18px; font-weight: 600; padding: 0; color: rgb(78, 134, 238) }
.column-main { flex-grow: 5 }

.login-container .flex-item { min-height: 320px; min-width: 360px; max-height: 400px; max-width: 300px; }
.login-header { margin: 5px auto 25px; }
    .login-header h1 { color: #3d91ff; }
.login-box { padding: 15px; }
.login-form-box .form-group { margin-bottom: 15px; }
    .login-form-box .form-group .form-control { background-color: #061f86; border-color: #082bb9; color: #6381f8; }
.login-user-avatar { font-size: 48px; color: #6da0fd; }
.login-actions{margin-top: 30px;}